*/__pycache__
*.npy
CarND-VehicleDetection-YOLO/data
*/.vscode
.idea
*.zip
*.app
*.csv
*.p
CarND-Behavioral-Cloning-P3/recording
*/test_videos
*/training_images
*/output_images
*.pdf
*/examples
*/.DS_Store
.DS_Store
*/.ipynb_checkpoints